services:
  - type: web
    name: resumex-backend
    runtime: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: "3.11.0"
      - key: DATABASE_URL
        sync: false
      - key: SUPABASE_ANON_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: HF_TOKEN
        sync: false
      - key: CLERK_SECRET_KEY
        sync: false
      - key: CLERK_PUBLISHABLE_KEY
        sync: false
      - key: FRONTEND_URL
        sync: false 
    rootDir: backend
    autoDeploy: true
