fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
pdfplumber
requests

python-dotenv

huggingface_hub
supabase
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
httpx