fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
pdfplumber
python-docx
requests
google-genai
python-dotenv
pypdf
huggingface_hub
supabase
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
httpx